@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400; 
    src: url("fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}
@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}
body {
    font-size: 18px;
    line-height: 21px;
    background-color: #fff;
    color: black;
    font-family: "PT Sans";
}
.navigation-list a {
    color: #000000;
    text-decoration: none;
}

/* ссылки в хедер*/
.navigation-list {
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
    color: #000000;
    background-color: #ffffff;
    text-transform: uppercase;
}
.navigation-user-button {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    background-color: #756257;
    color: #ffffff;
}
.header a {
    text-decoration: none;
}
.header {
    color: #000000;
    background-color: #ffffff;
}


/*фон на главном заголовке */
.main-title {
    color: black;
    background-color: #fff;
    background-image: url("images/images-index/index-background.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
}
/* big logo*/
.main-logo {
    background-repeat: no-repeat;
}
/*Седона небольшой городок в аризоне..*/
.main-logo-description {
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
}
/*Рассмотрим 5 причин...*/
.main-reason {
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 36px;
    color: #333333;
    text-align: center;
}
.main-subscription {
    color: black;
    background-color: #fff;
    background-image: url("images/images-index/background-field-subscription.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
}
/* первое приемущество*/
.first-advantage-example {
    background-color: #83B3D3;
}
/*Настояший городок*/
.advantages-example {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
}
/*#1*/
.advantages-example-number {
    font-style: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
}
/*Седона не аттракцион...*/
.advantages-description-example {
    font-style: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #fff;
}
/*жилье/еда/сувениры*/
.advantages-type {
    color: #000000;
    font-size: 24px;
    line-height: 26px;    
    text-align: center;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
}
.advantages-item-home {
    background-color: rgba(131, 179, 211, 0.12);
}
.advantages-item-road {
    background-color: rgba(131, 179, 211, 0.2);
}
.advantages-item-souvenir {
    background-color: rgba(131, 179, 211, 0.12);
}
.advantages-type-description {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    color: #333333;
}
.advantages-item-food {
    background-color: #fff;
}
/*Второе приемущество*/
.second-advantage-example {
    background-color: #83B3D3;
}
/*номера в приемуществах*/
.advantages-number {
    color: #333333;
    text-align: center;
    font-size: 18px;
    line-height: 21px;
}
/*Там есть мост дьявола*/
.second-advantages-example {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
}
/*#2*/
.second-advantages-example-number {
    font-style: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
}
/*да по нему сложно пройти*/
.second-advantages-description-example {
    font-style: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #fff;
}
/* поиск отеля*/
.search-hotels {
    text-align: center;
}
.hotel-search {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}
.hotel-search-description {
    font-style: normal;
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
    text-align: center;
}

/* подписка на рассылку*/
.email-subscription {
    color: #ffffff;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}
.email-subscription-description {
    color: #ffffff;
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
    text-align: center;
}
.visually-hidden {
    display: none;
}
.link-search-hotels {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 36px;
    color: #ffffff;
    background-color: #756257;
    text-transform: uppercase;
    text-decoration: none;
}
.email-button {
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    background-color: #83b3d3;
    text-decoration: none;
  }
.footer-tel {
    font-size: 40px;
    line-height: 40px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
}
/* для страницы каталога*/
.product-card-detail-button {
    background-color: #756257;
    color: #ffffff;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
}
.navigation-user-button {
    background-color: #756257;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color:#fff;
}
.navigation-button {
    color:#fff;
}
.inner-header-title {
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
    color: #ffffff;
}
.breadcrumbs-link {
    font-size: 16px;
    line-height: 21px;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
}
/**/
.inner-backgroung-images {
    background-image: url("images/images-catalog/catalog-filter-background.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
}
.button-select {
    background-color: #83B3D3;
    color: #fff;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
}
.button-reset {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
}
.product-card-select-button {
    background-color: #83B3D3;
    color: #FFFFFF;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
}
.product-card-select-button-actived {
    color: #FFFFFF;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    background-color: #7DB54F;
}
.catalog-list a {
    text-decoration: none;    
}
.product-card-price {
    color: #333333;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
}
.product-card-type-room {
    color: #333333;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
}

.product-card-title {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 31px;
    color: #000000;
}
.rating {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
    background-color: #F2F2F2;
}
.button-load-more {
    background-color: #83B3D3;
    color: #ffffff;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
}
.email-field {
    background-color: #F2F2F2;
}
.pagination-item a {
    text-decoration: none;
}
.pagination-link {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #F2F2F2;
    background-color: #83B3D3;
}
.pagination-current {
    color: #000000;
    background-color: #F2F2F2;
}
.number-hotels {
    font-size: 18px;
    line-height: 23px;
}
.main-subscription-info {
    color: black;
    background-color: #fff;
    background-size: 100% auto;
    background-repeat: no-repeat;
}
.email-subscription-info {
    color: black;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
}
.email-subscription-description-info {
    color: #333333;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
}
